html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: $lightGrayishBlue;

}
main {
    border-radius: 10px;
    background-color: white;
    max-width: 330px;
    text-align: left;
    overflow: hidden;
    padding: 0;

    @include break-up ('large') {
        display: flex;
        flex-direction: row;
        min-width: 330px;
        max-width: 732px;
        min-height: 282px;
    }


    
}

.title-text-container {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;

    @include break-up ('large') {
        padding: 40px 40px 0px 40px;
        margin-bottom: 20px;
    }
    h2 {
        text-align: left;
        font-weight: 700;
        font-size: 16px;
        color: $veryDarkGrayishBlue;
        line-height: 1.5;
        letter-spacing: 0.5px;
        margin-top: 0px;
        margin-bottom: 20px ;

        @include break-up ('large') {
            font-size: 20px;
        }



        

    }
    p{
        color: $desaturatedDarkBlue;
        line-height: 1.5;
        text-align: left;
        letter-spacing: 0.3px;
        margin-top: 0px;
    }
}

header {
    min-height: 200px;
    background-image: url('/images/drawers.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 101% 120%;

    @include break-up ('large') {
        min-width: 286px;
        background-position-x: left;
        background-size: 124% 100%;
    }
}

/*
#################################
##############################
Info Container
###############################
################################
*/




.info-container {
    
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    line-height: 0.8;
    gap: 16px;
    align-items: center;
    justify-items: start;
    height: 64px;
    padding: 0px 30px 15px 30px;
   @include break-up ('large') {
       margin-bottom: 20px;
   }
    
    


    img {
        height: 35px;
        border-radius: 100%;
    }

    .icon {
        justify-self: end;
        background-color: $lightGrayishBlue;
        border-radius: 100%;
        padding: 10px;
        cursor: pointer;
    }
  


    .text-container {
        .name {
            font-weight: 700;
            color: $veryDarkGrayishBlue;
            margin-right: 32px;
        }

    font-weight: 500;
    color: $desaturatedDarkBlue;
    }

}

/*
#################################
##############################
Social Container
###############################
################################
*/


.social-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    line-height: 0.8;
    gap: 16px;
    align-items: center;
    justify-items: start;
    height: 64px;
    padding: 15px 30px 15px 30px;
    
    background-color: $veryDarkGrayishBlue;

    

    @include break-up ('large') {
        max-height: 56px;
        max-width: 250px;
        border-radius: 10px;
        padding: 18px 40px 16px 40px;
        position: absolute;
        top: 50%;
        left:69%;
    }

    @include break-up ('xlarge') {
            top: 50%;
            left: 62.5%;
        }



    &::after {
        @include break-up ('large') {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            position: relative;
            top:130%;
            left: -566%;
            background-color: $veryDarkGrayishBlue;
            z-index: 2;
        }
    }

  
    


        .text {
            text-transform: uppercase;
            color: $desaturatedDarkBlue;
            letter-spacing: 5px;
            margin: 0px;
        }

  

    .icon-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    } 
    
    .icon {
        justify-self: end;
        background-color: $desaturatedDarkBlue;
        border-radius: 100%;
        padding: 10px;
        cursor: pointer;
        
        
        #share {
            fill: white;
        }
       
}
   
}



